<?xml version="1.0"?>
<launch>
  <arg name="mission_file_name" default="main_sim.yaml" doc="Name of the mission file"/>
  <arg name="mission_file_path" default="$(find smb_mission_planner)/configs/missions/$(arg mission_file_name)" doc="Path to the mission yaml file." />
  <arg name="reference_frame" default="world_graph_msf" doc="The frame where the waypoints are going to be published." />
  <arg name="timeout" default="45.0" doc="Mission timer node." />

  <node pkg="smb_mission_planner" type="mission_planner_node.py" name="mission_planner_node" output="screen" args="$(arg mission_file_path) $(arg reference_frame) $(arg timeout)" />
</launch>